<html>
<head>
<title>The test servlet</title>
</head>
<body>
<pre>The EJB ref is {{ejb}}</pre>

<p>The invocation result is {{invocation}}</p>

<p>The time of execution is {{when}}</p>

</body>
</html>